asgiref==3.5.0
astroid==2.11.3
autopep8==1.6.0
colorama==0.4.4
dill==0.3.4
Django==3.2.9
django-debug-toolbar==3.2.4
flake8==4.0.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.6.1
Pillow==9.0.0
platformdirs==2.5.2
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pyflakes==2.4.0
pylint==2.13.7
pytz==2022.1
six==1.16.0
sqlparse==0.4.2
toml==0.10.2
tomli==2.0.1
transliterate==1.10.2
typing_extensions==4.2.0
wrapt==1.14.0
