.dropbtn {
    color: white;
    border: none;
    cursor: pointer;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color:#007c84;
 
}


.dropdown-content a {

    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #ffffff;
}

.dropdown-content a:hover {background-color: #cca35d;;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #cca35d ;}


.bi::before {
    display: inline-block;
    content: "";
    vertical-align: -.125em;
    /* background-image: url("/static/file-earmark-font-fill.svg"); */
    background-repeat: no-repeat;
    background-size: 1rem 1rem;
  }


<<<<<<< HEAD

.svg-img{
    background-image: url(static/img/excel.svg);
}
=======
  .svg-background {
    width: 25px;
    height: 25px; 
    background: url('pdf.svg') no-repeat center;
  }

  .pdf {
    background: url('pdf.svg') no-repeat center;
  }
>>>>>>> 3a07c6e854f52fd3907b6df89824762e49222a80
