{% load crispy_forms_tags %}


<form enctype="multipart/form-data" method="POST" >
    {% csrf_token %}
        <p>{{ form.as_p }}</p>
        
    <button type="submit">Создать</button> 
</form>
{% comment %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-sm-6">{{form.title|as_crispy_field}}  </div>
    <div class="col-sm-4">{{form.category|as_crispy_field}}  </div>
    <div class="col-sm-4">{{form.law|as_crispy_field}}  </div>
    <div class="col-sm-10">{{form.text|as_crispy_field}}</div>
</form>
{% endcomment %}