{% load static %}

<div class="container">
  <div class="row" >
    <div class="col-sm-6">
      <a class="navbar-brand" href="/admin">
        <img src="{% static '/logo.png' %}" alt="" width="250" height="110">
      </a>
    </div>

    <div class="col-sm-6">
      <ul class="nav position-relative">  
        {% if request.user.is_authenticated %}
          <li class="nav-item dropdown position-absolute top-0 end-0">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #cca35d;">
              {{ user.username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href=" {% url 'createcategory' %} ">Добавить категорию</a></li>
         
              {% comment %}
              <li><a class="dropdown-item" href="{% url 'createlaw' %} ">Добавить закон</a> </li> 
              {% endcomment %}
               
                 <li><a class="dropdown-item" href="{% url 'createdocument' %} ">Добавить документ</a></li>  
              <li><a class="dropdown-item" href="">Добавить </a></li>
              <li><hr class="dropdown-divider"></li>
              <li>
                <form action="{% url 'logoutuser' %}" method="POST">
                  {% csrf_token %}
                  <li><button type="submit" class="btn btn-light">Выйти</button></li>
                </form>
              </li>        
            </ul>
          </li>
        {% else %}
          <li class="nav-item dropdown position-absolute top-0 end-0">
            <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="color: #cca35d;">
              Личный кабинет
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="{% url 'signupuser' %}">Регистрация</a></li>
              <li><a class="dropdown-item" href="{% url 'loginuser' %}">Авторизация</a></li>
            </ul>
          </li>
        {% endif %}  
      </ul>
    <div class="col-sm"> </div>
    <div class="col-sm"> </div>
    <div class="col-sm">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
        {% comment %}
        {% url 'search' %}
        {% endcomment %}
      </form>
      <a class="btn" href="#" role="button"aria-expanded="false" style="color: #cca35d;">
        Расширенный поиск
      </a>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-dark"  style="color:#cca35d; background-color:#007c84;">
  <div class="container-md">
    <ul class="navbar-nav mr-auto mb-3 mb-lg-0">
      <li class="nav-item dropdown">
        <a class="nav-link dropbtn" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Антимонопольная служба
        </a>
        <ul class="dropdown-menu dropdown-content" aria-labelledby="navbarDropdown" style="left:0;">
{% for doc in documents.law.all %}
            {% for l in doc.document_set.title %}
            <li>
                <li><a class="dropdown-item" href="/{{l.slug}}/" >
                {{ l.title }}
              </a>
              </li>
              {% endfor %}
{% endfor %}
          <li><a class="dropdown-item" href="#">ФЗ №135-ФЗ "О защите конкуренции"</a></li>
          <li><a class="dropdown-item" href="#">ФЗ №147-ФЗ "О естественных монополиях"</a></li>
          <li><a class="dropdown-item" href="#">ФЗ №44-ФЗ "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд"</a></li>
          <li><a class="dropdown-item" href="#">ФЗ №381-ФЗ "Об основах государственного регулирования торговой деятельности в Российской Федерации"</a></li>
          <li><a class="dropdown-item" href="#">ФЗ №38-ФЗ "О рекламе"</a></li>
          <li><a class="dropdown-item" href="#">ФЗ №223-ФЗ "О закупках товаров, работ, услуг отдельными видами юридических лиц"</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Прочее</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Суды</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Прокуратура</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Что-то еще</a>
      </li>
    </ul>
  </div>
</nav>

