{% extends 'base.html' %} 
{% load static %}

{% block title %}
Главная страница :: {{ block.super }}
{% endblock %}

{% block content %} 
    <div class="col-md-12">
        <div class="row">
            {% for doc in document %} 
  <div class="card col-md-2 p-0 mb-3 mt-3">
                        <div class="card-body text-center">
                <h6 class="card-title"> <a href="document/{{ doc.slug }}" class="text-decoration-none">
                {{doc.title}}  </a></h5>
            </div>
            <div class="card-body text-center">
            <a href="/document/{{ doc.slug }}" class="btn btn-primary">Подробнее</a>
           </div>
        </div>
    {% endfor %}    
    </div>                                           
</div>
{% endblock content %} 