{% extends 'base.html' %}  
{% block title %}
Создание документа
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <h3>Создание документа</h3>
            <hr>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% comment %} {{form.as_p}}
                {% endcomment %} 
                <div class="col-sm-8">Заголовок: <br>{{form.title}}  </div>
                <div class="col-sm-12">Категория:<br> {{form.category}}  </div>
                <div class="col-sm-6">Закон: <br>{{form.law}}  </div>
                <div class="col-sm-8">Текст: <br> {{form.text}}  </div>
                <div class="col-sm-4">Приложения:<br>
                    <input name="files" type="file" multiple class="form-control">         
                 </div>
                 
                <div class="description">Максимальный размер файла: <strong>50 МБ</strong>.<br>Разрешённые типы файлов: <strong>txt doc docx xls xlsx pdf png jpg rar zip ppt pptx rtf gif</strong>.</div>
                <br>
                <div class="col-sm-4"><button class="btn btn-info">Создать</button></div>
                <br>
                {% for message in messages %}
   <span style="color:red;"> {{ message }} </span>
{% endfor %}

           </form>
        </div>
    </div>
</div>
{% endblock content %} 



{% comment %}
    <h1> Создание документа</h1>
    <h2>{{error}}</h2>
    <form enctype="multipart/form-data" method="POST" >
        {% csrf_token %}
        <div class="col-sm-3">
           Заголовок: <br>{{form.title}}  </div>
            <div class="col-sm-3">Категория:<br> {{form.category}}  </div>
            <div class="col-sm-3">Закон: <br>{{form.law}}  </div>
            <div class="col-sm-3">Текст: <br> {{form.text}}  </div>
             11<div class="col-sm-3">Приложения44:<br>вв
            <input name="files" type="file" multiple class="form-control" >         
        </div>22
        <br>
        <div class="col-sm-3">
        <button type="submit" class="btn btn-primary m-3">Создать</button></div>
    </form>

   

        <form enctype="multipart/form-data" method="POST" >
            {% csrf_token %}
            
            {{ form.as_p }}
            <div class="col-sm-3">
                <input type="text"  placeholder="Заголовок" maxlength="100" required class="form-control"></p>

                <input  type="text"  placeholder="Категория" maxlength="100" required class="form-control"></p>

                <input type="text" placeholder="Закон" maxlength="100" required class="form-control"></p>
            </div>
            <div class="col-sm-8">  
                <textarea name="text" placeholder="Тест" required class="form-control"></textarea></p>
            </div>
            <div class="col-sm-3">  
                <p><label for="files">Приложения:</label>
                <input name="files" type="file" multiple class="form-control" > 
            </div>
            <div class="col-sm-3">
                <button type="submit">Создать</button> 
            </div>
        </form>
        
  

        <form enctype="multipart/form-data" method="POST" >
            {% csrf_token %}
                <p>{{ form.as_p }}</p>
                
            <button type="submit">Создать</button> 
        </form>
        
     <br>

    
{% endblock content %} 
{% endcomment %}
