{% extends 'base.html' %} 
{% load static %}

{% block title %}
{{document.title}} :: {{ block.super }}
{% endblock %}

{% block content %}
    <h4 class="card-title"> 
        {{document.title}}
    </h4>    <br>
    Категория: {{document.category.title}}<br>

    Закон: 
    
    {% for l in laws %}
        {{l.title}}
    {% endfor %}
    
    <br>
    <br>
    Приложения: 
    <h6 class="card-title">   
        {% for f in files %}
        <a class="" href="{{f.file.url}}">  {{ f.filename }}</a> ({{f.file.size|filesizeformat }}) <br>
{% endfor %}

     
    </h6>




    <br>
    {% comment %}

    {{ files }}
    
 <br>
{% endcomment %}
    Создан: {{document.date_create}}    <br>
    Обновлён: {{document.date_update}}    <br>
    Автор: {{document.user}}
      
                                         

{% endblock content %} 