{% extends 'base.html' %} 
{% load static %}

{% block title %}
{{title}} :: {{ block.super }}
{% endblock %}

{% block content %}
    <h4 class="card-title"> 
        {{documents.title}}
    </h4>    <br>
    Категория: {{documents.category.title}}

{{ law.title }}
    {% for l in law.all %}
    {{l.shorttitle}}dd</a> <br>
    {% endfor %}<br>11f<br>
    Закон: {{documents.law.title}} dd 

    <br><br>
    {{documents.text}}
    <br><br>

    {% for doc in document %}
    {% for d in doc.law_set.all %}
{{d.title}}
    {% endfor %}

    {% endfor %}


    {% comment %}
    Приложения: 
    <br>
    {{documents.file.url}}
    {% for file in documents.file.all %}
    <h6 class="card-title">   
       1  {{ file.title }}  <br>
       2  {{ file.filename }}  <br>
       3  {{filename}} <br>
        4 {{file.size}} <br>
    </h6>
{% endfor %}
    {{ files }}
    <a class="dropdown-item" href="{{documents.file.url}}">{{documents.filename}} </a> ({{ documents.file.size|filesizeformat }}) <br>
 <br>
{% endcomment %}
    Создан: {{documents.date_create}}    <br>
    Обновлён: {{documents.date_update}}    <br>
    Автор: {{documents.user}}
      
                                         

{% endblock content %} 