{% comment %}
<form method="POST" enctype="multipart/form-data" action="{% url 'viewdocument' document.slug %}">
</form> 
{{form.as_p}}
document.querySelector("#edit-submit")
<input class="form-submit ajax-processed" type="submit" id="edit-field-news-file-ru-{{f.id}}-remove-button" name="field_news_file_ru_{{f.id}}_remove_button" value="Удалить" >
<script>
    $(".del-file").click(function(){ 
        $('#document_'+$(this).data('bk')+'_'+$(this).data('pg')).remove();
        console.log($(this).data('bk')+'_'+$(this).data('pg'))
        return false; 
    });
</script>

<script>
    $.ajax({
        type: 'POST',
        url: '/document/delete/',
        data: {'ids': ids},
        success: function() {
            console.log(date_time + ": AJAX call succeeded.");
        },
        error: function() {
            console.log(date_time + ": AJAX call failed!");
            console.log(date_time + ": Image ID: " + ids + ".");
        }
    });
</script>

<script>
    $(".del-file11").click(function(){ 
        $('#documents_'+$(this).data('bk')+'_'+$(this).data('pg')).remove();
        return false; 
    });
</script>
{% endcomment %} 




$(document).ready(function (e) {
    $('#update-form').on('submit', function (e) {
        e.preventDefault();
        let formData = new FormData(this)
        console.log('1111', formData)
        $.ajax({
            type: this.method,
            url: this.action,
            data: $(this).serialize(),
            // -- dataType: 'json',
            // type:'POST',
            // url: $(this).attr('action'),
            // data: formData,
            // cache: false,
            // contentType: false,
            // processData:false,
            success: function () {
                console.log('+++');
                // console.log(data);
            },
            error: function (response) {
                console.log('err - ', response);
            // error: function () {
            //     console.log('---');
                // console.log(data);    
            }
        })
    })
