{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактирование документа {{document.title}}
{% endblock %}
{% block content %}
{{ error }}
{{category.title}}

    <form action="{% url 'viewdocument' document.slug %}" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %}
    <form action="" method="POST" enctype="multipart/form-data">99877
    <form method="POST" enctype="multipart/form-data" action="{% url 'viewdocument' document.slug %}">
    {{form.as_p}}
    {% endcomment %} 

    <div class="col-sm-8">Заголовок: <br>{{form.title}}  </div>
    <div class="col-sm-12">Категория:<br> {{form.category}}  </div>
    <div class="col-sm-6">Закон: <br>{{form.law}}  </div>
    <div class="col-sm-8">Текст: <br> {{form.text}}  </div>
   
    <div class="col-sm-12">Приложения:<br>
        {% if files %}
        {% for f in files %}
        <div class="file" id="documents_{{documents.id}}_{{f.id}}">
           <p class="filelogo"><img class="svg-img" src="{% static 'img/word.svg' %}">
            <a class="text-decoration-none" href="{{f.file.url}}" download 
                style="color: #007c84;">
                {{ f.filename }} 
            </a>
            ({{f.file.size|filesizeformat }}) <button class="btn btn-link del-file text-decoration-none" data-bk="{{ documents.id }}" data-pg="{{f.id}}" style="color: #6b2525;">Удалить</button>
              <br>
        </div> 
        {% endfor %} </div>  
        
        
        <script>
            $(".del-file").click(function(){ 
                $('#documents_'+$(this).data('bk')+'_'+$(this).data('pg')).remove();
                return false; 
              });
        </script>


       {% else %} 
       Приложений нетЪ
        {% endif %}
        <br>
        <div class="col-sm-6">
        <input name="files" type="file" multiple class="form-control">  
         
     </div>
     
    <div class="description">Максимальный размер файла: <strong>50 МБ</strong>.<br>Разрешённые типы файлов: <strong>txt doc docx xls xlsx pdf png bmp jpg rar zip ppt pptx rtf gif</strong>.</div>

    {% for message in messages %}
<span style="color:red;"> {{ message }} </span>
{% endfor %}
<br>
    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

<p>
<form action="{% url 'deletedocument' document.slug %}" method="POST" >
    {% csrf_token %}
<button type="submit"  class="btn btn-danger">Удалить</button>
</form>



{% endblock %}

