{% extends 'base.html' %}
{% load static %}
{% block title %}
Редактирование документа {{document.title}}
{% endblock %}
{% block content %}
{{ error }}
{{category.title}}
<form method="POST" enctype="multipart/form-data" action="{% url 'viewdocument' document.slug %}">
    {% csrf_token %}
    {% comment %} {{form.as_p}}
    {% endcomment %} 

    <div class="col-sm-8">Заголовок: <br>{{form.title}}  </div>
    <div class="col-sm-12">Категория:<br> {{form.category}}  </div>
    <div class="col-sm-6">Закон: <br>{{form.law}}  </div>
    <div class="col-sm-8">Текст: <br> {{form.text}}  </div>
    <div class="col-sm-12">Приложения:<br>
        {% if files %}
        {% for f in files %}
        <img class="svg-img" src="{% static 'img/word.svg' %}">
            <a class="text-decoration-none" href="{{f.file.url}}" download 
                style="color: #007c84;">
                {{ f.filename }} 
            </a>
            ({{f.file.size|filesizeformat }})   {{f.pk}}
             <a class="text-decoration-none" href="/files/{{f.pk}}/delete/" 
            style="color: #b44b04;"> Удалить1 </a>   
            <form method="POST" action="{% url 'filedelete' f.pk %}">
                {% csrf_token %}
            <button type="submit"  class="btn btn-link text-decoration-none"  style="color: #b44b04;">Удалить</button>
            </form>
            <br>
        {% endfor %} 
       {% else %} 
       Приложений нетЪ
        {% endif %}
        <br>
        <div class="col-sm-6">
        <input name="files" type="file" multiple class="form-control">  
        </div>       
     </div>
     
    <div class="description">Максимальный размер файла: <strong>50 МБ</strong>.<br>Разрешённые типы файлов: <strong>txt doc docx xls xlsx pdf png bmp jpg rar zip ppt pptx rtf gif</strong>.</div>

    {% for message in messages %}
<span style="color:red;"> {{ message }} </span>
{% endfor %}

    <button type="submit" class="btn btn-success">Сохранить</button>
</form>

<p>
<form method="POST" action="{% url 'deletedocument' document.slug %}">
    {% csrf_token %}
<button type="submit"  class="btn btn-danger">Удалить</button>
</form>

{% endblock %}

